[submodule "3rdParty/googletest"]
	path = 3rdParty/googletest
	url = https://github.com/google/googletest
[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rdParty/SDL"]
	path = 3rdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdParty/VulkanMemoryAllocator"]
	path = 3rdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rdParty/entt"]
	path = 3rdParty/entt
	url = https://github.com/skypjack/entt
[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/magic_enum"]
	path = 3rdParty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "3rdParty/ImGuizmo"]
	path = 3rdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rdParty/json"]
	path = 3rdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdParty/di"]
	path = 3rdParty/di
	url = https://github.com/boost-ext/di.git
[submodule "3rdParty/fmt"]
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdParty/uuid"]
	path = 3rdParty/uuid
	url = https://github.com/boostorg/uuid.git
[submodule "3rdParty/rttr"]
	path = 3rdParty/rttr
	url = https://github.com/rttrorg/rttr.git
[submodule "3rdParty/assert"]
	path = 3rdParty/assert
	url = https://github.com/boostorg/assert.git
[submodule "3rdParty/config"]
	path = 3rdParty/config
	url = https://github.com/boostorg/config.git
[submodule "3rdParty/boost"]
	path = 3rdParty/boost
	url = https://github.com/boostorg/boost.git
[submodule "3rdParty/openexr"]
	path = 3rdParty/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "3rdParty/tinyexr"]
	path = 3rdParty/tinyexr
	url = https://github.com/syoyo/tinyexr.git
